@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,369;1,6..72,369&display=swap');
*{
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 369;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
}
body .fullBody{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.fullBody .topBar{
    width: 100%;
    height: 50px;
}
.fullBody .topBar .topBar-content{
    width: 5%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.fullBody .topBar .topBar-content .sideBar-button{
    color: #5551FF;
    padding: 5px 5px;
    height: fit-content;
    width: fit-content;
}
.fullBody .topBar .sideBar{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    width: 30%;
    height: 100%;
    z-index: 2;
    background-color: #5551FF;
    color: white;
    overflow-y: scroll;
    transition: 0.5s;
}
.sideBar .menu{
    height: 100%;
}
.sideBar .menu .headSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 140px;
}
.menu .headSection h1{
    font-size: 25px;
    width: 160px;
    height: 30;
    padding: 20px 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.headSection .sideBar-close{
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}
.headSection .sideBar-close .fa-x{
    font-size: 20px;
    cursor: pointer;
}
.sideBar .menu .barContent ul{
    margin-top: 50px;
    width: 90%;
}
.sideBar .menu .barContent ul li{
    margin: 30px;
    width: 100%;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    transition: all 0.25s;
}
.sideBar .menu .barContent ul :hover{
    background-color: white;
    color: black;
    letter-spacing: 0.3em;
    font-size: 1.2em;
}
.sideBar .menu .barContent ul li a{
    display: block;
    padding: 25px 20px;
    font-size: 20px;
    width: 90%;
    color: white;
}
.fullBody .titleHolanda{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
}
.fullBody .mainAttraction{
    width: 100%;
    height: 400px;
    background-image: url("/views/photos/mainAtraction.jpg");
    background-size: cover;
    color: white;
    box-shadow: inset 6px 4px 50px 44px #000000;
}
.mainAttraction .titleAttraction{
    height: 50px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: 30px;
}
.mainAttraction .attractionText{
    height: 180px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.fullBody .generalInfo{
    width: 90%;
    height: 500px;
}
.generalInfo .generalTitle{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.generalInfo .generalText{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.generalInfo .generalText .gTitle{
    width: 100%;
    height: 60px;
    padding-left: 20px;
}
.generalInfo .generalText .gTitle h4{
    font-weight: 900;
    font-size: 18px;
}
.generalInfo .generalText .gtext{
    width: 100%;
    padding-left: 20px;
}
@media screen and (min-width: 436px) {
    .sideBar {
        height: 100vh; /* Ajusta la altura al 100% de la altura de la ventana del navegador */
        position: absolute; /* Posiciona el sidebar absolutamente para que cubra toda la pantalla */
        width: 100%; /* Asegura que el sidebar tenga el ancho completo de la pantalla */
        top: 0; /* Alinea el sidebar con el top de la pantalla */
        left: 0; /* Alinea el sidebar con el lado izquierdo de la pantalla */
    }
}